body{
				background-color: black;
			}
			
			.wrap{
				margin-top: 150px;
				perspective: 1000px;
				perspective-origin: 50% 50%;
			}
			.cube{
				margin: auto;
				position: relative;
				width: 200px;
				height: 200px;
				transform-style: preserve-3d;
				
			}
			
			.cube div{
				position: absolute;
				padding: 10px;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				opacity: 0.9;
				background-color: #000;
				border: 1px solid #eee;
				color: gold;
				font-size: 16px;
				transition: all 1s linear;
				background-size:auto;
			}
			
			.qm{
				background: url(img/1.jpg);
				transform: translateZ(100px);
			}
			.hm{
				background: url(img/2.jpg);
				transform:translateZ(-100px) rotateY(180deg) ;
			}
			.sm{
				background: url(img/3.jpg);
				transform: rotateX(-270deg) translateY(-100px);
				transform-origin:top right ;
			}
			.xm{
				background: url(img/4.jpg);
				transform: rotateX(270deg) translateY(100px);
				transform-origin:bottom left;
			}
			.zm{
				background: url(img/5.jpg);
				transform: rotateY(270deg) translateX(-100px);
				transform-origin: center left;
			}
			.ym{
				background: url(img/6.jpg);
				transform: rotateY(-270deg) translateX(100px); 
				transform-origin:top right ;
			}
			
			i{
				position: absolute;
				top: 50px;
				left: 50px;
				width: 100px;
				height: 100px;
				display: block;
							
			}
			.i_qm{
				background: url(img/11.jpg);	
				transform: translateZ(50px);
			}
			.i_hm{
				background: url(img/22.jpg);	
				transform: translateZ(-50px) rotateY(180deg);
			}
			.i_sm{
				background: url(img/33.jpg);	
				transform: rotateX(-270deg) translateY(-50px);
				transform-origin: left top;
			}
			.i_xm{
				background: url(img/44.jpg);	
				transform: rotateX(270deg) translateY(50px);
				transform-origin: left bottom;
			}
			.i_zm{
				background: url(img/55.jpg);	
				transform: rotateY(270deg) translateX(-50px);
				transform-origin: left bottom;
			}
			.i_ym{
				background: url(img/66.jpg);	
				transform: rotateY(-270deg) translateX(50px);
				transform-origin: top right;
			}
			
			.cube{
				animation:rot 20s infinite linear ;
			}
			
			@keyframes rot{
				from{
					transform: rotateX(0deg) rotateY(0deg);
				}
				to{
					transform: rotateX(360deg) rotateY(360deg);
				}
			}
			.cube:hover .qm{
				background: url(img/1.jpg);
				transform: translateZ(200px);
			}
			.cube:hover .hm{
				background: url(img/2.jpg);
				transform: translateZ(-200px) rotateY(180deg);
			}
			.cube:hover .sm{
				background: url(img/3.jpg);
				transform: rotateX(-270deg) translateY(-100px) translateZ(100px);
				transform-origin:top right ;
			}
			.cube:hover .xm{
				background: url(img/4.jpg);
				transform: rotateX(270deg) translateY(100px) translateZ(100px);
				transform-origin:bottom left;
			}
			.cube:hover .zm{
				background: url(img/5.jpg);
				transform: rotateY(270deg) translateX(-100px) translateZ(100px);
				transform-origin: center left;
			}
			.cube:hover .ym{
				background: url(img/6.jpg);
				transform: rotateY(-270deg) translateX(100px) translateZ(100px); 
				transform-origin:top right ;
			}